.order-table {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px auto;
  width: auto;
  max-width: 768px;
  
  border-radius: 5px;
}

.order-table > p {
  border: 1px solid rgb(199, 199, 199);
}

.order-totals {
  display: grid;
  grid-template-columns: 20% 40% 14% 12% 14%;
  margin: 5px auto;
  width: auto;
  max-width: 768px;
}

.cust-form-outer {
  display: block;
  margin: 10px auto;
  max-width: 350px;
  border: 1px rgb(199, 199, 199) solid;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgb(199, 199, 199);
}

.cust-form-outer > p, .cust-form-outer > input {
  display: block;
  text-align: center;
  margin: 5px auto; 
}

.cust-form-outer > p {
  color: var(--colorDecoRed);
}

.cust-form {
  margin: 5px auto;
  max-width: 330px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
 
}

.cust-form > input {
  width: 100%;
  color: black;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.cust-form > p {
  width: 100%;
  text-align: center;
  color: black;
  padding: 5px 5px;
 
}


.amend-form-outer {
  display: block;
  margin: 30px auto;
  width: 100%;
  max-width: 1000px;
  border: 1px rgb(199, 199, 199) solid;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgb(199, 199, 199);
}

.amend-form-outer > p, .amend-form-outer > input {
  display: block;
  text-align: left;
  margin: 5px auto;
}

.amend-form-pick {
  display: block;
  margin: 30px auto 10px;
  border: 1px solid rgb(199, 199, 199);
  padding: 10px;
  text-align: center;
  max-width: 1000px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  box-shadow: 0 5px 20px rgb(199, 199, 199);
}

.amend-form-pick > select {
  display: block;
  width: 100%;
  max-width: 330px;
  margin: 5px auto;
  padding: 5px 5px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  cursor: pointer;
}

.amend-form {
  margin: 1px auto 1px 1px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.amend-form > input{
  display: block;
  width: 100%;
  
  margin: 1px auto 1px 1px;
  padding: 5px 5px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  cursor: pointer;
}

.amend-form > textarea {
  display: block;
  width: 100%;
  margin: 1px auto 1px 1px;
  padding: 5px 5px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  cursor: pointer;
}

.amend-form > p {
  width: 100%;
  text-align: left;
  padding: 5px 5px;
  color: var(--colorDecoRed);
}

.admin-title {
  border-top: 3px solid var(--colorDecoRed);
  border-bottom: 3px solid var(--colorDecoRed);
  color: var(--colorDecoRed);
}

.border-line {
  border-top: 1px solid rgb(199, 199, 199);
}

.address {
  display: block;
  color: var(--colorDecoRed);
  
}

.address > input {
  display: block;
  width: 100%;
  max-width: 330px;
  margin-top: 5px;
  padding: 5px 5px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  cursor: pointer;
}

.edit-list-outer {
  display: block;
  margin: 30px auto 10px;
  padding: 5px 10px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 7px;
  width: 330px;
  box-shadow: 0 10px 20px rgb(199, 199, 199);  
}

.edit-lines {
  display: grid;
  grid-template-columns: 80px repeat(3, auto);
  margin: 5px auto;   
}

.edit-title {
  /* text-align: center; */
  text-decoration: none;
  background-color: white	;
  color: black;
  margin: 5px 0px 5px 0;
  padding: 5px 5px;
}

.edit-btn {
  border: 1px var(--colorDecoRed) solid;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  background-color: var(--colorDecoRed);
  color: white;
  margin: 5px 5px;
  padding: 5px 5px;
  width: 65px;
  
  transition: 0.5s;  
}

.edit-btn:hover {
 
  color: var(--colorDecoRed);
  background-color: white;
}

.bg-grey {
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  min-width: 320px;
  box-shadow: 0 5px 20px rgb(199, 199, 199);
}

.customer-orders-outer {
  display: block;
  margin: 10px;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  box-shadow: 0 5px 20px rgb(199, 199, 199);
}
  


  @media only screen and (max-width: 768px) {

   
  
    
  
    

  }

  @media only screen and (max-width: 500px) {

    
  
    
  
      
  }