.bottom-margin {
  height: 100px;
  background-color: white;
}



.footer {
    display: block;
    bottom: 0px;
    width: 100%;
    height: auto;
    padding: 50px auto 20px;
    background-color: white;
    
  }

  .footer__inner {
    border-top: 1px solid rgb(199, 199, 199);
    margin: 0px auto 0;
    padding: 5px;
  } 

   .footer__title {
    margin: 10px auto 0 10px;
  }

  .footer__logo {
    margin: auto auto auto 15px;
    width: 200px;
  } 

  /* social media area */
  .footer__social {
    display: block;
    margin: 50px auto 0;
  }

  .footer__social-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: black;
  }

  .footer__social-inner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: auto;
    height: auto;
    margin: auto;
  }

  .footer__social-outer {display: block;}

  .footer__social-link {
    display: block;
    border: 1px solid rgb(0, 0, 0, 0.0);
    border-radius: 20px;
    width: 50px;
    transition: 0.5s;
    margin: 10px;
    padding: 10px;
  } 

  /* company details */
  .footer__co-details-outer {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--colorDecoRed);
    border-top: black solid 1px;
  }

   .footer__co-details {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    /* letter-spacing: -1px; */
    margin: 0 auto;
    color: white;
  }

  /* newsletter section */
  .newslet__col {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .newslet__title {
    font-size: 10px;
    letter-spacing: -1px;
    font-weight: 600;
  }

  .newslet__email {
    display: grid;
    grid-template-columns: auto 50px;
    margin: 10px 0;
    width: 100%;
    height: 30px;

  }

  #ok {
    width: 40px;
    height: 35px;
    border-radius: 5px;
    margin: auto 0px auto 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
  }

  #ok:hover {
    background-color: white;
    color: black;
  }

  .news-let__marketing-text {
    display: inline;
    line-height: 0.5;
  }

  .news-let__privacy-link {
    text-decoration: none;
    color: grey;
  } 


  /* Medium Devices */
@media only screen and (max-width: 1024px) {

  } 
  
  
  @media only screen and (max-width: 900px) {

    
  }


@media only screen and (max-width: 768px) {


} 

@media only screen and (max-width: 500px) {

  .footer__link-area {grid-template-columns: 100%;}
  .footer__link {margin: 0 auto 5px auto;text-align: center;}
   
}


@media only screen and (max-width: 350px) {


}