.promo {
    display: block;
    width: 100%;
    z-index: 10;
    margin: 0px auto;
    padding: 10px 5px;
    text-align: center;
    background-color: var(--colorDecoRed);
    border-bottom: 1px solid rgb(199, 199, 199);
}

.promo__delivery-outer {
    display: inline-block;
    margin: 5px;
    padding: 2px 10px 4px;
    border: 2px solid white;
    border-radius: 5px;
    transform: rotate(-5deg);
}
.promo__delivery-inner {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -2px;
    color: white; 
}

.promo__text {
    display: inline;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2px;
    color: white;  
}

/* Small Devices */
@media only screen and (max-width: 768px) {

    .promo__text {
        font-size: 24px;
        letter-spacing: -1px;
    }   
}

/* Extra Small Devices */
@media only screen and (max-width: 500px) {
    
    .promo__text {
        font-size: 19px;
        letter-spacing: -1px;
    }
    
    .promo__delivery-inner {
        font-size: 19px;
        color: white; 
    }
}